/**@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');**/

.body {
    margin-left: 120px;
    position: relative;
}


.bandera {
    margin-top: 25px;
    margin-left: 55px;
    margin-right: 55px;
    font-weight: bold;
}

.contenedor {
    margin-top: 50px;

}

.encabezado {
    max-width: 860px;   
    width: 80%;
    margin: 0 auto;

}

.presentacion,
.conocimientos,
.formaciones,
.experiencias,
.informacion {
    display:inline;
    float: left;
    position: relative;
    margin-left: 6%;
    margin-right: 6%;
}

.presentacion,
.conocimientos,
.experiencias,
.informacion {
    width: 40%;
    margin-right: 20px;
}

.contacto {
    width: 40%;
    margin-left: 20px;
}

.formaciones,
.experiencias {
    width: 88%;
}

/************* 
Encabezado
**************/

header {
    background: #33a4c9;
    border-bottom: 10px solid #848484;
    padding: 19px 10px;
    overflow: hidden;
}

header figure {
    float: left; 
    width: 185px;
    height: 185px;   
}

header figure img {
    border-radius: 120px;
    border: solid #33a4c9;
    height: 185px;
    width: 185px;
    position: relative;
}

header hgroup {
    float: right;
    text-align: center;
}

header hgroup h1 {
    color: #fff;
    font: 400 40px ;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

header hgroup h2 {
    color: #fff;
    font-style: italic;
    font: 400 20px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

#cv {
    width: 55px;
    height: 55px;
}

/***************
/* Sección Principal
***************/

p strong{
    font-weight: bold;
    font: 400 20px;
}

section[role="main"] {
    padding: 21px 0;
    overflow: hidden;
}

section[role="main"]>div {
    margin-top: 73px;
}

section[role="main"] h3 {
    border-bottom: 1px solid #202020;
    padding: 0 0 20px 60px;
    margin-top: 0px;
    position: relative;
    font: 400 20px ;
}

.icono {
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    top: -10px;
    width: 50px;
}


.formaciones ul,
.experiencias ul
.informacion ul {
    margin-left: 60px;
    padding: 0px;
}

section[role="main"] h4 {
    margin-bottom: 0px;
}

section[role="main"] h4 strong {
    color: #147393;
    font-weight: normal;
    font: 400 17px ;
}

.formaciones li,
.experiencias li,
.informacion li {
    margin-bottom: 35px;
    list-style:  none;
}

.conocimientos 
.informacion
.contacto
.values {
    padding: 10px;
}

.presentacion ul,
.conocimientos ul,
.informacion ul,
.contacto ul {
    padding: 25px;
}

.presentacion ul li,
.conocimientos ul li,
.contacto ul li,
.informacion ul li {
    font: 400 15px ;
    margin-bottom: 3px;
    list-style: none;
}

.contacto {
    display: inline;
    float: left;
    position: relative;
    margin-left: 6%;
    margin-right: 6%;
}

.presentacion li:before,
.conocimientos li:before,
.informacion li:before,
.contacto li:before {
    font: 400 15px ;
    margin-bottom: 3px;
    display: block;
    position: relative;
    max-width: 0;
    max-height: 0;
    left: -15px;
    top: 0;
    color: #33a4c9;
    font-size: 20px;
}

.formaciones,
.experiencias,
.informacion,
.lugar,
.contacto,
.fecha{
    background-position: 0 -2px;
    color: #202020;
}

.redes1 {
    width: 40px;
    height: 40px;
    margin: 10px 38px 25px 38px;
}

.trabajos_1 {
    float: left;
}

.trabajos_2 {
    margin-right: 109px;
    float: right;
}

.formacion_1 {
    border-radius: 0%;
    float: left;
}

.formacion_2 {
    margin-right: 85px;
    float: right;
}



/**
Pie de pagina
**/

.footer{
    display:block;
    align-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 40%;
    margin-right: 40%;
    color: #202020;
    font: 400 15px;
}

